<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol type="i">
        <h1>Fruits </h1>
        <hr>
        <li>
            Grapes....... <del>150perkg</del> <ins>100perkg</ins>
        </li>
        <li>
            Watermelon....... <del>120perkg</del> <ins>100perkg</ins>
        </li>
        <li>
            Cherry....... <del>100perkg</del> <ins>80perkg</ins>
        </li>
    </ol>
    <center> <a href="../index.html">Home</a> , <a href="about.html">About</a> , <a href="contactus.html">Contact</a></center>
</body>
</html>